/* Write your CSS here */
.language-btn {
  color: #0f172a;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  outline: none;
  flex-shrink: 0;
}
.active-language-btn {
  color: blue;
  border: 1px solid blue;
  border-radius: 24px;
}
